/* don't touch this file!!!!!!!!!!!!!!!!!! this is my settings!!!!!!!! */

:root {
  --font-sans: 'Pretendard', ui-sans-serif, system-ui;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

/* import  */
@import 'tailwindcss';

/*set */
@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1500px;

  --color-main-01: #a1c5ff;
  --color-main-02: #6183e7;
  --color-light-01: #e2edff;
  --color-light-02: #f4f8ff;
  --color-deep: #1f2d56;
  --color-white: #fff;
  --color-black: #333;
  --color-point: #ff9faf;
  --color-point-hov: #ea4661;
  --color-gray-deep: #7c7c7c;
  --color-gray-mid: #b9b9b9;
  --color-gray-light: #e6e6e6;
}

/* common settings */

html,
body {
  overflow-x: hidden;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-sans) !important;
}

/* font settings */
h2 {
  font-size: var(--text-4xl);
  font-weight: 600;
}

h3 {
  font-size: var(--text-3xl);
  font-weight: 600;
}

h4 {
  font-size: var(--text-xl);
  font-weight: 600;
}

span {
  font-size: var(--text-lg);
  font-weight: 500;
}

p,
a {
  font-size: var(--text-base);
  font-weight: 500;
}

.dummy {
  font-size: var(--text-sm);
  font-weight: 500;
}

/* layout settings */
.wrap {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .myBg {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 90%;
  }

  .myBg {
    width: 100%;
    overflow: visible !important;
  }
}

/* title settings */
.tit {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-deep);
}

/* bg-img setting */
.myBg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;

  max-width: 100vw;
  box-sizing: border-box;
}